@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary-50:  #F3F4F7;
  --color-primary-100: #DADFE7;
  --color-primary-200: #B1BCCD;
  --color-primary-300: #8899B4;
  --color-primary-400: #687EA2;
  --color-primary-500: #3D4C63;
  --color-primary-600: #495C79;
  --color-primary-700: #394860;
  --color-primary-800: #263040;
  --color-primary-900: #171D26;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost); 
  --font-mono: var(--font-jost);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost, sans-serif); 
}
